body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
html {
  width: 100%;
  height: 100%;
}

div { height:auto; }
    .onecol { width:80%; float:center; }
    .twocols { width:100%;  float:center; }
    .threecols { width:87%;  float:center; }


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}
a {
  color: #42DCA3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
 
}
.light {
  font-weight: 400;
}
.navbar-custom {
  
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
}
.navbar-custom .navbar-toggle {
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: black;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: #3498db;
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: transparent;
  color: #3498db;
}
.navbar-custom .nav li.active a:hover {
  color: #3498db;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: white;
    color: #3498db;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}


@media screen and (max-width:991px) {
    .templatemo-box {
   
}
#pricing .active {
    bottom: 0;
}
.pricing {
  
}

#feature1 img {
    
}
}
/* Intro Form */
.intro-form {
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid #EAE7E7;
  width: 400px;
}

.intro-form h3{
  color: #3498db;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
  
}

.intro-form input {
  border: 1px solid #3498db;
  height: 38px;
  box-shadow: none !important;
}

.intro-form .form-group:last-of-type {
  
}

.intro {
  /*margin-top: 30px;*/

  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
/*  background-color: white;*/
  /*background: url(../img/abstract.jpg) no-repeat;*/
 
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.intro .intro-body .intro-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
 
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
    color: black;
  }

  .this-title-h1{

    font-size: 80px;
    color: black;
  }

 .this-title-h2 {

    font-size: 60px;
     color: black;
  }


  .intro .intro-body .intro-text {
    font-size: 26px;
  }


}

.demo-button {
    padding: 10px 16px;
    font-size: 16px;
    line-height: 1.33;
    border-radius: 6px;
    color: #fff;
    background-color: #3498db;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: "Gotham A", "Gotham B", Helvetica, sans-serif;
    -webkit-tap-highlight-color: white;

}

.demo-button:hover {
    padding: 10px 16px;
    font-size: 16px;
    line-height: 1.33;
    border-radius: 6px;
    color: #fff;
    background-color: #3498db;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid black;
    white-space: nowrap;
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: "Gotham A", "Gotham B", Helvetica, sans-serif;
    -webkit-tap-highlight-color: white;
}

.demo-button:active {
color:white

}

.team-pics {
  border-radius: 50%;
  position: relative;
}


.underline-title {
    position: relative; /* Declared position allows for location changes */
    top: -35px; /* Moves the image 2px closer to the top of the page */
}

.underline-everything {
    position: relative; 
    margin-bottom: 50px;
    margin-top: 50px; 
    width: 90%;
    height: 2px;
}


.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 7px 16px;
  border: 2px solid black;
  border-radius: 100% !important;
  font-size: 40px;
  color: black;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: black;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.work-section {

  }
  .work-section {
  width: 100%;
  color: black;
  background-color: white;


}

#content-section {
    text-align: center;
    
}

#content-section h3 {
    font-size: 19px;
}
#content-section p {
    font-size: 15px;
    line-height: 1.6em;
    margin-top:-15px;
     
}

.about-section {
text-align: center;
    
    
}

.about-section .brand-heading {
    font-size: 80px;
    color: black;
  }
 

.download-section {
  
  width: 100%;
  color: black;
  background-color: white;
  /*background: url(../img/abstract.jpg); */

}

.download-section  .fa {
    color: black;
    font-size: 100px;
    padding-bottom: 40px
}

.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.btn-default {
  border: 1px solid #42DCA3;
  color: #42DCA3;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #42DCA3;
  outline: none;
  color: black;
  background-color: #42DCA3;
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
  
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
footer {
  padding: 50px 0;
}
footer p {
  margin: 0;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

#contact {
 font-size: 17px;
}

#contact p {
  text-align: center;
  font-size: 19px;
}



#divider {
    text-align: center;
  padding-top: 50px;

    
}
#divider .fa {
    color: #3498db;
    font-size: 60px;
    padding-bottom: 40px
}
#divider h3 {
    font-size: 19px;
}
#divider p {
    font-size: 15px;
    line-height: 1.6em;
    margin-top:-15px;
}

.img-circle{
  background-size: 
  border-radius:5%}


video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
   
    width: auto;
    height: 782px;
    z-index: -1000;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
    object-fit: cover;
}
.stopfade {
    opacity: .5;
}
#polina {
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight: 100;
    background: rgba(0, 0, 0, .3);
    color: #fff;
    padding: 2rem;
    width: 33%;
    margin: 2rem;
    float: right;
    font-size: 1.2rem;
}
#polina button {
    display: block;
    width: 80%;
    padding: .4rem;
    border: none;
    margin: 1rem auto;
    font-size: 1.3rem;
    background: rgba(255, 255, 255, .23);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s background;
}
#polina button:hover {
    background: rgba(0, 0, 0, .5);
}
@media screen and (max-device-width:800px) {
    #bgvid {
    display: none;
}
#intro {
     background: url(../img/abstract.jpg) no-repeat;
    background-size: cover;
}
}




#team p{

    font-size: 17px;
    line-height: 1.6em;
    

}


.contact-form {
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid #EAE7E7;
  width: 60%;
  
}

.contact-form h3{
  color: #3498db;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;

 
}

.contact-form input {
  border: 1px solid #3498db;
  height: 38px;
  box-shadow: none !important;
}

.contact-form .form-group:last-of-type {
  margin-bottom: 0;
}

